<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ck.ai.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO user (username, password, email, nickname)
        VALUES (#{username}, #{password}, #{email}, #{nickname})
    </insert>
    <update id="updateUserByUsername">
        UPDATE user SET
        password = IFNULL(#{password},password),
        email = IFNULL(#{email},email),
        nickname = IFNULL(#{nickname},nickname),
        role = IFNULL(#{role},role),
        free_chat_times = IFNULL(#{freeChatTimes},free_chat_times),
        expire_date = IFNULL(#{expireDate},expire_date)
        WHERE username = #{username}
    </update>
    <update id="updateFreeChatTime">
        UPDATE user SET
        free_chat_times = 30
        WHERE role = 'TEMP'
    </update>
    <update id="updateVipStatus">
        UPDATE user SET
        role = 'TEMP'
        WHERE role != 'TEMP' and expire_date &lt; now()
    </update>
    <select id="getPassword" parameterType="String" resultType="String">
        SELECT password
        FROM user
        WHERE username = #{username}
    </select>

    <select id="getRole" parameterType="String" resultType="String">
        SELECT role
        FROM user
        WHERE username = #{username}
    </select>


    <select id="getRolePermission" parameterType="String" resultType="String">
        SELECT role.permission
        FROM user,
             role
        WHERE username = #{username}
          AND role.role = user.role
    </select>


    <select id="auth" resultType="java.lang.Integer">
        select count(1)
        from user
        where username = #{username}
          and ban = 0
    </select>

    <select id="getPermission" resultType="java.lang.String">
        select permission
        from user u
                 inner join role r on
                u.role = r.role
                and u.username = #{username}
    </select>
    <select id="selectByUsername" resultType="com.ck.ai.domain.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>
    <select id="selectByEmail" resultType="com.ck.ai.domain.entity.User">
        SELECT * FROM user WHERE email = #{email}
    </select>
</mapper>